@import "_variables.styl";
@import "_mixins.styl";

html, body, header, footer,
h1, h2, h3, h4, h5, h6, p, 
img, a, div, nav, li, ul, ol, aside
	margin: 0;
	padding: 0;
	border: 0;
	font-size: mainFontSize
	line-height: mainLineHeight;

	text-decoration: none;
	list-style-type: none;

	color: white;
	font: inherit;

html, body
	background-color: black;
	margin: 0;
	height: 100%;

body
	min-width: minWidth;
	font-family: mainFont;
	overflow-x: hidden;

h1, h2, h3, h4, h5, h6
	color: white;
	font-family: headerFont;

h1
	color: yellow_ll;
	full-text-shadow: 2px 4px alpha(yellow_l, .4);
	
	font-size: 36pt;
	line-height: 36pt;
	margin: 20px 0;
	text-align: center;

h2
	font-size: 24pt;
	line-height: 28pt;
	margin-top: 10px;

h3
	font-size: 18pt;
	line-height: 24pt;
	margin-top: 10px;

p
	max-width: 750px;
	font-size: 16pt;
	line-height: 1.5;

	padding-top: 4pt;
	padding-bottom: 4pt;
	
a
	&:link, &:visited
		transition: 0.4s;
		color: white;
		border-bottom: 1px solid white;
	
	&:hover, &:focus
		transition: 0.2s;
		color: yellow_l;
		border-bottom: 1px solid yellow_l;
	
	&:active
		transition: 0.2s;
		color: yellow_ll;
		border-bottom: 1px solid yellow_ll;
	