@import "_variables.styl";
@import "_mixins.styl";

cardWidth = 360;
cardHeight = 556;

#cardsRoot
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	.card
		transition: transform .4s;
		tr-scale: .65 .65;
		margin: -60px -30px;
				
		&:hover, &:focus
			transition: transform .075s;
			tr-scale: .7 .7;
	
.card
	width: (cardWidth)px;
	height: (cardHeight)px;
	
	display: inline-block;
	position: relative;
	
	background-color: alpha(yellow, .0);
	full-box-shadow: 10px 100px alpha(yellow, 0) false;
	
	&__base
		width: 100%;
		z-index: 1;
		
	&__portrait
		position: absolute;
		top: 20px;
		left: 40px;
		width: (cardWidth)px - 80px;
		z-index: -1;
			
	&__name
		width: (cardWidth)px;
		position: absolute;
		top: 330px;
		z-index: 2;
		
		color: brown_d;
		full-text-shadow: 2px 1px alpha(yellow_ll, .2);
		text-align: center;
		font-size: 21pt;
		font-family: cardNameFont;
		font-weight: bold;
		
	&__details
		position: relative;
		bottom: 160px;
		left: 60px;
		width: (cardWidth)px - 120px;
		z-index: 2;
		
		color: yellow_ll;
		font-size: 18pt;
		font-family: cardSpecFont;
		full-text-shadow: 2px 2px brown_d;
		text-align: center;
			
		&__house
			color: yellow_ll;
			
	&.selected
		transition: 1s;
		border-radius: 10px;
		background-color: alpha(yellow, .6);
		full-box-shadow: 10px 100px alpha(yellow, .4) false;