@import "_variables.styl";
@import "_mixins.styl";

#pageFooter
	background-color: black;
	padding: bodyMargin;
	
	nav
		ul
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			
			li
				margin-right: 40px;