@import "_variables.styl";
@import "_mixins.styl";

#mainContainer
	min-height: 100vh;
	padding: bodyMargin;

.logo
	padding: 0 20px;
	margin: auto 0;
	
	display: flex;
	justify-content: center;
	
	img
		width: 100%;
		max-width: 1066px;
		height: auto;
		margin: auto;
		
	span.s
		font-size: 32pt;
		tr-translate: 0 5px 0;
		margin: 0 10px 0 15px;
		
.image
	&--cover
		overflow: hidden;
		height: 100%;
		width: 100%;
		object-fit: cover;
		
.indent
	margin-left: 16px;
	&--line
		padding-left: 8px;
		margin-left: 6px;
		border-left: 2px solid red;
		
.mouse
	&--hover:hover
		cursor: pointer;
		
	&--ignore:hover
		pointer-events: none;
		
	&--no-highlight
		user-select: none;