full-text-shadow(offset, blur, color)
	text-shadow: (offset)px (offset)px (blur)px color,
				 (-(offset)px) (offset)px (blur)px color,
				 (offset)px (-(offset)px) (blur)px color,
				 (-(offset)px) (-(offset)px) (blur)px color;
				 
full-box-shadow(offset, blur, color, bg = true)
	if (bg == true)
		background-color: color;
	box-shadow: (offset)px (offset)px (blur)px color,
				 (-(offset)px) (offset)px (blur)px color,
				 (offset)px (-(offset)px) (blur)px color,
				 (-(offset)px) (-(offset)px) (blur)px color;
				 
tr-translate(x, y)
	-ms-transform: translate(x, y);
	-webkit-transform: translate(x, y);
	transform: translate(x, y);
				 
tr-rotate(val)
	-ms-transform: rotate(val);
	-webkit-transform: rotate(val);
	transform: rotate(val);
				 
tr-scale(x, y)
	-ms-transform: scale(x, y);
	-webkit-transform: scale(x, y);
	transform: scale(x, y);