@import "_partials.styl";

body
	background-image url('../images/character-select.jpg');
	background-position: center;
	background-repeat: no-repeat;
	
.startHint
	height: 120px;
	
	#selectChampionText
		margin: 0;
	
	#startButton
			
		.startNote
			text-align: center;
			font-size: 14pt;
			font-style: italic;
		
		a
			text-align: center;
			border: none;
			
			h1
				margin: 5px 0;
				
			&:link, &:visited
				h1
					transition: .6s;
					color: yellow_ll;
					full-text-shadow: 2px 4px alpha(yellow_l, .4);
			
			&:hover, &:focus
				h1
					transition: .2s;
					color: yellow_ll;
					full-text-shadow: 8px 16px alpha(yellow_l, .8);
			
			&:active
				h1
					transition: .2s;
					color: yellow_ll;
					full-text-shadow: 8px 16px alpha(yellow_l, .8);
