@import "_partials.styl";

body
	background-color: brown_dd;
	overflow: scroll;

#mainContainer
	display: flex;
	flex-direction: row;
	
	margin: 10px;
	padding: 0;

	#championsDeck
		height: 100vh;
		min-height: 600px;
		width: auto;
		margin-right: 20px;
		
		.cardContainer
			overflow: hidden;
			margin: auto;
			
		.diceContainer
			position: relative;
			padding: 10px 0;
			
			canvas
				border: 2px solid yellow;
				border-radius: 8px;
				
			#diceTurn
				position: absolute;
				top: 20px;
				left: 10px;
				right: 10px;
				vertical-align: middle;
				
				font-family: headerFont;
				font-size: 21pt;
				text-align: center;
				color: yellow_l;
				full-text-shadow: 2px 2px alpha(black, .5);
				
			
	#mapContainer
		position: relative;
		
		img
			position: absolute;
			height: 97.5%;
			width: auto;
			border: 2px solid yellow;
			border-radius: 8px;
			
		canvas
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			
	#popupContainer
		transition: .2s;
		opacity: 1;
		
		position: absolute;
		bottom: 60px;
		width: 100%;
		
		.popup
			color: brown_d;
			font-weight: bold;
			font-size: 18pt;
			text-align: center;
			font-family: headerFont;

			background-color: yellow;
			width: 420px;
			border: 2px solid brown;
			border-radius: 8px;
			padding: 20px;
			margin: 0 auto;
			
			
	#winScreen
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: alpha(black, .5);
		
		display: none;
		flex-direction: column;
		justify-content: center;
		
		.card
			margin: 40px auto;
			z-index: 1;
			
			&:hover, &:focus
				transition: 1s;
				tr-rotate: 1080deg;
			
		a
			width: 140px;
			margin: 20px auto;
			font-size: 18pt;
			text-align: center;
			text-decoration: none;