html,
body,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
a,
div,
nav,
li,
ul,
ol,
aside {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16pt;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  font: inherit;
}
html,
body {
  background-color: #000;
  margin: 0;
  height: 100%;
}
body {
  min-width: 400px;
  font-family: Montserrat, Helvetica, Myriad Pro, Arial, sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: Crimson Text, serif;
}
h1 {
  color: #f2f0df;
  text-shadow: 2px 2px 4px rgba(232,224,143,0.4), -2px 2px 4px rgba(232,224,143,0.4), 2px -2px 4px rgba(232,224,143,0.4), -2px -2px 4px rgba(232,224,143,0.4);
  font-size: 36pt;
  line-height: 36pt;
  margin: 20px 0;
  text-align: center;
}
h2 {
  font-size: 24pt;
  line-height: 28pt;
  margin-top: 10px;
}
h3 {
  font-size: 18pt;
  line-height: 24pt;
  margin-top: 10px;
}
p {
  max-width: 750px;
  font-size: 16pt;
  line-height: 1.5;
  padding-top: 4pt;
  padding-bottom: 4pt;
}
a:link,
a:visited {
  transition: 0.4s;
  color: #fff;
  border-bottom: 1px solid #fff;
}
a:hover,
a:focus {
  transition: 0.2s;
  color: #e8e08f;
  border-bottom: 1px solid #e8e08f;
}
a:active {
  transition: 0.2s;
  color: #f2f0df;
  border-bottom: 1px solid #f2f0df;
}
