#cardsRoot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#cardsRoot .card {
  transition: transform 0.4s;
  -ms-transform: scale(0.65, 0.65);
  -webkit-transform: scale(0.65, 0.65);
  transform: scale(0.65, 0.65);
  margin: -60px -30px;
}
#cardsRoot .card:hover,
#cardsRoot .card:focus {
  transition: transform 0.075s;
  -ms-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
.card {
  width: 360px;
  height: 556px;
  display: inline-block;
  position: relative;
  background-color: rgba(232,210,85,0);
  box-shadow: 10px 10px 100px rgba(232,210,85,0), -10px 10px 100px rgba(232,210,85,0), 10px -10px 100px rgba(232,210,85,0), -10px -10px 100px rgba(232,210,85,0);
}
.card__base {
  width: 100%;
  z-index: 1;
}
.card__portrait {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 280px;
  z-index: -1;
}
.card__name {
  width: 360px;
  position: absolute;
  top: 330px;
  z-index: 2;
  color: #341a0e;
  text-shadow: 2px 2px 1px rgba(242,240,223,0.2), -2px 2px 1px rgba(242,240,223,0.2), 2px -2px 1px rgba(242,240,223,0.2), -2px -2px 1px rgba(242,240,223,0.2);
  text-align: center;
  font-size: 21pt;
  font-family: Crimson Text, serif;
  font-weight: bold;
}
.card__details {
  position: relative;
  bottom: 160px;
  left: 60px;
  width: 240px;
  z-index: 2;
  color: #f2f0df;
  font-size: 18pt;
  font-family: Crimson Text, serif;
  text-shadow: 2px 2px 2px #341a0e, -2px 2px 2px #341a0e, 2px -2px 2px #341a0e, -2px -2px 2px #341a0e;
  text-align: center;
}
.card__details__house {
  color: #f2f0df;
}
.card.selected {
  transition: 1s;
  border-radius: 10px;
  background-color: rgba(232,210,85,0.6);
  box-shadow: 10px 10px 100px rgba(232,210,85,0.4), -10px 10px 100px rgba(232,210,85,0.4), 10px -10px 100px rgba(232,210,85,0.4), -10px -10px 100px rgba(232,210,85,0.4);
}
