#mainContainer {
  min-height: 100vh;
  padding: 40px;
}
.logo {
  padding: 0 20px;
  margin: auto 0;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 100%;
  max-width: 1066px;
  height: auto;
  margin: auto;
}
.logo span.s {
  font-size: 32pt;
  -ms-transform: translate(0, 5px);
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
  margin: 0 10px 0 15px;
}
.image--cover {
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.indent {
  margin-left: 16px;
}
.indent--line {
  padding-left: 8px;
  margin-left: 6px;
  border-left: 2px solid #f00;
}
.mouse--hover:hover {
  cursor: pointer;
}
.mouse--ignore:hover {
  pointer-events: none;
}
.mouse--no-highlight {
  user-select: none;
}
