html,
body,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
a,
div,
nav,
li,
ul,
ol,
aside {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16pt;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  font: inherit;
}
html,
body {
  background-color: #000;
  margin: 0;
  height: 100%;
}
body {
  min-width: 400px;
  font-family: Montserrat, Helvetica, Myriad Pro, Arial, sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: Crimson Text, serif;
}
h1 {
  color: #f2f0df;
  text-shadow: 2px 2px 4px rgba(232,224,143,0.4), -2px 2px 4px rgba(232,224,143,0.4), 2px -2px 4px rgba(232,224,143,0.4), -2px -2px 4px rgba(232,224,143,0.4);
  font-size: 36pt;
  line-height: 36pt;
  margin: 20px 0;
  text-align: center;
}
h2 {
  font-size: 24pt;
  line-height: 28pt;
  margin-top: 10px;
}
h3 {
  font-size: 18pt;
  line-height: 24pt;
  margin-top: 10px;
}
p {
  max-width: 750px;
  font-size: 16pt;
  line-height: 1.5;
  padding-top: 4pt;
  padding-bottom: 4pt;
}
a:link,
a:visited {
  transition: 0.4s;
  color: #fff;
  border-bottom: 1px solid #fff;
}
a:hover,
a:focus {
  transition: 0.2s;
  color: #e8e08f;
  border-bottom: 1px solid #e8e08f;
}
a:active {
  transition: 0.2s;
  color: #f2f0df;
  border-bottom: 1px solid #f2f0df;
}
#pageFooter {
  background-color: #000;
  padding: 40px;
}
#pageFooter nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#pageFooter nav ul li {
  margin-right: 40px;
}
#cardsRoot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#cardsRoot .card {
  transition: transform 0.4s;
  -ms-transform: scale(0.65, 0.65);
  -webkit-transform: scale(0.65, 0.65);
  transform: scale(0.65, 0.65);
  margin: -60px -30px;
}
#cardsRoot .card:hover,
#cardsRoot .card:focus {
  transition: transform 0.075s;
  -ms-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
.card {
  width: 360px;
  height: 556px;
  display: inline-block;
  position: relative;
  background-color: rgba(232,210,85,0);
  box-shadow: 10px 10px 100px rgba(232,210,85,0), -10px 10px 100px rgba(232,210,85,0), 10px -10px 100px rgba(232,210,85,0), -10px -10px 100px rgba(232,210,85,0);
}
.card__base {
  width: 100%;
  z-index: 1;
}
.card__portrait {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 280px;
  z-index: -1;
}
.card__name {
  width: 360px;
  position: absolute;
  top: 330px;
  z-index: 2;
  color: #341a0e;
  text-shadow: 2px 2px 1px rgba(242,240,223,0.2), -2px 2px 1px rgba(242,240,223,0.2), 2px -2px 1px rgba(242,240,223,0.2), -2px -2px 1px rgba(242,240,223,0.2);
  text-align: center;
  font-size: 21pt;
  font-family: Crimson Text, serif;
  font-weight: bold;
}
.card__details {
  position: relative;
  bottom: 160px;
  left: 60px;
  width: 240px;
  z-index: 2;
  color: #f2f0df;
  font-size: 18pt;
  font-family: Crimson Text, serif;
  text-shadow: 2px 2px 2px #341a0e, -2px 2px 2px #341a0e, 2px -2px 2px #341a0e, -2px -2px 2px #341a0e;
  text-align: center;
}
.card__details__house {
  color: #f2f0df;
}
.card.selected {
  transition: 1s;
  border-radius: 10px;
  background-color: rgba(232,210,85,0.6);
  box-shadow: 10px 10px 100px rgba(232,210,85,0.4), -10px 10px 100px rgba(232,210,85,0.4), 10px -10px 100px rgba(232,210,85,0.4), -10px -10px 100px rgba(232,210,85,0.4);
}
#mainContainer {
  min-height: 100vh;
  padding: 40px;
}
.logo {
  padding: 0 20px;
  margin: auto 0;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 100%;
  max-width: 1066px;
  height: auto;
  margin: auto;
}
.logo span.s {
  font-size: 32pt;
  -ms-transform: translate(0, 5px);
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
  margin: 0 10px 0 15px;
}
.image--cover {
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.indent {
  margin-left: 16px;
}
.indent--line {
  padding-left: 8px;
  margin-left: 6px;
  border-left: 2px solid #f00;
}
.mouse--hover:hover {
  cursor: pointer;
}
.mouse--ignore:hover {
  pointer-events: none;
}
.mouse--no-highlight {
  user-select: none;
}
html,
body {
  background-color: #150a06;
}
#mainContainer {
  max-width: 700px;
  margin: 0 auto;
}
.sources {
  margin-top: 40px;
}
.sources li {
  line-height: 1.25;
  margin: 15px 0;
}
